@model WinControls.UserControl1
<div class="form-group">
    <div>
        @Html.LabelFor(m => m.Title, Model.Title)

        <div>
            @Html.TextBox("UCTextBox", new { @class = "form-control" })
        </div>

    </div>
</div>
